# Homework 2

This notebook is used to analyze the data created in `get_reddit_posts.py`.

## Imports

In [2]:
import pandas as pd

## Import our data

In [4]:
comments_df = pd.read_csv('data/comments_df_10.csv')

# print the first five rows
comments_df.head()

,Unnamed: 0,id,score,created_utc,body,parent_id,author
0,0,dneqzng,6857,1.506195e+09,That girl is more frat than every guy in that ...,t3_71zf07,Only_Validates_Names
1,1,dnen7m2,12095,1.506190e+09,I've watched this video about 10 times now and...,t3_71zf07,scooch_mgooch
2,2,dner7ni,13611,1.506195e+09,Someday she is going to be living in suburbia ...,t3_71zf07,silentjay01
3,3,dnep6b6,4768,1.506193e+09,So Steve Austin has a daughter who goes to col...,t3_71zf07,caddy_gent
4,4,dneszm4,957,1.506198e+09,AND catches one handed.,t3_71zf07,[deleted]

## Convert dates
We will convert dates from Unix time to a more readable format.

In [5]:
# from: https://stackoverflow.com/questions/19231871/
comments_df['created_time'] = pd.to_datetime(comments_df['created_utc'], unit='s')